

  .skills-section {
    font-family: 'Poppins', sans-serif;
    padding: 4.5rem;
    background-color: #121212; 
    color: #ffffff;
    display: flex;
    flex-direction: column; 
    justify-content: center;
  }
  
  .skills-title {
    font-family: 'Poppins', sans-serif;
    font-size: 4.5rem;
    font-weight: bolder;
    text-align: left;
    background: linear-gradient(90deg, #4FC3F7 3%, #4FC3F7 100%);
    -webkit-background-clip: text;
    color: transparent;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-bottom: 0; /* Remover o espaço inferior padrão */
    
}
  
  .skills-text {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 2rem;
    line-height: 2;
    text-align: center;
    align-items: center;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    opacity: 0.7;
  }

  .icons {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 2rem; 
    justify-items: center;
    margin-top: 1.5rem;
    align-items: center;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }