.contact {
    font-family: 'Poppins', sans-serif;
    padding: 5rem;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    background-color: #111;
    color: #fff;
}

.connect {
    max-width: 300px;
    margin-bottom: 2rem;
}

.connect h2 {
    font-size: 2rem;
    color: #4ad5ff;
    text-align: center;
}

.connect p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin-right: 1rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1); 
}


.social-icons a svg {
    opacity: 0.4;
    transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}



@media (max-width: 768px) {
    .contact-title {
        font-size: 2.5rem; /* Reduzi o tamanho da fonte para caber melhor em telas menores */
        padding: 0 1rem;
    }

    .connect {
        max-width: 100%;
    }

    .contact {
        padding: 3rem; /* Reduzi o padding para telas menores */
    }
}
