.about-section {
    font-family: 'Poppins', sans-serif;
    padding: 4.5rem;
    background-color: #121212; 
    color: #ffffff;
    display: flex;
    flex-direction: column; 
    justify-content: center;
  }
  
  .about-title {
    font-family: 'Poppins', sans-serif;
    font-size: 4.5rem;
    font-weight: bolder;
    text-align: left;
    background: linear-gradient(90deg, #4FC3F7 3%, #4FC3F7 100%);
    -webkit-background-clip: text;
    color: transparent;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-bottom: 0; /* Remover o espaço inferior padrão */
    
}

  
  .about-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 2rem;
    line-height: 2;
    text-align: justify;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  
  button.more-about-me{
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #4FC3F7;
    text-decoration: underline;
    margin-top: 3rem;
    display: inline-block;
    background-color: transparent;
    transition: all 0.3s ease;
  }

  button.more-about-me:focus,
button.more-about-me:active {
    border: none; /* Garantir que não apareça borda ao focar/clicar */
    outline: none; /* Garantir que não apareça contorno ao focar/clicar */
}

button.more-about-me:hover {
    transform: scale(1.1); /* Ampliar o botão */
    opacity: 1; /* Tornar o botão totalmente opaco */
}
  